# System
__pycache__/
*.ipynb_checkpoints/
.DS_Store

# VSCode
/.vscode/

# Data
/data/*
!/data/README.md
!/data/009_03.jpg
!/data/009_03_cropped.png

# Checkpoints
/checkpoints/*/*
!/checkpoints/adnet/LICENSE.md
!/checkpoints/adnet/adnet_ofiq.onnx

# Logs
/logs/

# Results
/output/
