# System
__pycache__/
*.ipynb_checkpoints/
.DS_Store

# VSCode
/.vscode/

# Data
/data/*

# Checkpoints
/checkpoints/*/*
!/checkpoints/adnet/adnet_ofiq.onnx
!/checkpoints/adnet/LICENSE.md

# Logs
/logs/

# Results
/output/
