# System
__pycache__/
*.ipynb_checkpoints/
.DS_Store

# VSCode
/.vscode/

# Data
/data/*
!/data/ColorFERET-00472_940519_hr_small_cropped.png

# Checkpoints
/checkpoints/*/*
!/checkpoints/adnet/adnet_ofiq.onnx

# Logs
/logs/

# Results
/output/
